<h1 class="margin-left">{{ gallery_main_heading }}</h1>
{% if galleries is defined and galleries is not empty %}
    <div class="gallery-list-fs-container">
        {% for gallery in galleries %}
            <div class="gallery-tab-fs-container"{% if gallery.frontImage is not null and gallery.frontImage.filename is not null %} style="background-image: url({{ gallery_directory ~ '/' ~ gallery.id ~ '/1920/' ~ gallery.frontImage.fileName }}); background-color: {{ gallery.frontImage.mainColor }}"{% endif %}>
            {#<div class="gallery-tab-fs-container"{% if gallery.frontImage is not null and gallery.frontImage.filename is not null %} style="background-image: url({{ gallery_directory ~ '/' ~ gallery.id ~ '/1920/' ~ gallery.frontImage.fileName }});"{% endif %}>#}
                <div class="gallery-fs-title-container">
                    <div class="margin-top">
                        <a href="{{ path('b3gallery.front.gallery', {id: gallery.id}) }}" class="link-big margin-left">{{ gallery.title }}</a>
                    </div>
                    <div class="margin-vertical">
                        <h2 class="gallery-subheading-date">{{ gallery.dateCreated | date('d.m.Y H:i') }}</h2>
                    </div>
                    {% if gallery.password > '' %}<h2 class="gallery-subheading-date">&lfloor;&otimes;&rceil; locked</h2>{% endif %}
                </div>
            </div>
        {% endfor %}
        <script>
          const containers = document.getElementsByClassName('gallery-tab-fs-container');
          [].forEach.call(containers, cont => {
            cont.onclick = e => { window.location.href = e.target.querySelector('a.link-big').href }
          });
        </script>
    </div>
{% else %}
  <h2>Welcome! there are no galleries at the moment</h2>
{% endif %}
