{% extends '@b3daGallery/layoutAdmin.html.twig' %}

{% block body %}
    <div class="gallery-list-container">
        <div class="gallery-tab-container">
            <div class="gallery-image-thumb-container">
                <div class="flex-centered height-100">
                    <div>
                        <div class="text-bigger margin-bottom">&nbsp;&sum;&nbsp; all: {{ galleries | length }}</div>
                        <div class="text-bigger margin-bottom">&nbsp;&lowast;&nbsp; public: {{ countGalleriesPublic }}</div>
                        <div class="text-bigger margin-bottom">&lfloor;&otimes;&rceil; locked: {{ countGalleriesLocked }}</div>
                        <div class="text-bigger margin-bottom">&lfloor;&times;&rceil; private: {{ countGalleriesPrivate }}</div>
                    </div>
                </div>
            </div>
            <div class="gallery-title-container">
                <a href="{{ path('b3gallery.admin.list') }}">list &gt;&gt;</a>
            </div>
        </div>
    </div>
{% endblock %}
