<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}b3Gallery admin{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/b3dagallery/css/setup.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/b3dagallery/css/pure/buttons.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/b3dagallery/css/pure/forms.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/b3dagallery/css/dropzone.min.css') }}">
        {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">#}
    {% endblock %}
</head>
<body>
<main>
{% block body %}{% endblock %}
</main>
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/b3dagallery/js/dropzone.min.js') }}"></script>
    {% if app.environment == 'prod' %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.min.js"></script>
    {% else %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.js"></script>
    {% endif %}
{% endblock %}
</body>
</html>
